{% extends 'base.html' %}

{% block headers %}
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
      </div>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          {% for items in menu_items %}
              {% for key, value in items.items() %}
                  {% if value[0] == '/' %}
                    <li><a href="{{ value[0] }}" class="nav-link px-2 link-secondary">{{ key }}</a></li>
                  {% else %}
                    <li><a href="{{ value[0] }}" class="nav-link px-2">{{ key }}</a></li>
                  {% endif %}
              {% endfor %}
          {% endfor %}
      </ul>
    </header>
  </div>
{% endblock %}
